<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Arvo:wght@700&family=Josefin+Sans&family=M+PLUS+1+Code&family=Oswald:wght@400;500;700&family=Roboto&family=Roboto+Condensed&family=Source+Code+Pro&family=Source+Sans+Pro:wght@300&family=Source+Serif+4&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div>
    <header>
      <h1 id="title_ref">Brugh's Tech Blog</h1>
      </header>

      <nav class="navbar">
        {{#if loggedIn}}
         <a class="home-link" href="/">Home</a> &nbsp; &nbsp;
        <a class="home-link" href="/dashboard">Dashboard</a> &nbsp; &nbsp;
      <a href="#" id="logout" class="logout-btn">Logout</a>
        {{else}}
      <a class="login-btn" href="/login">Login</a>
        {{/if}}
    </nav>
  
    
    <main>
      <section class="main">
      {{{ body }}}
      </section>
    </main>
    </div>
    <footer>
  
    </footer>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>