<article class="edit-post">
      <h2 class="new-post-container-title">
        Edit Post
    </h2>
    <form class="edit-post-form">
        <div class="edit-input">
            <input class="edit-post-title" name="post-title" type="text" value="{{post.title}}"/> <br>
            <textarea class="edit-post-content" name="post-content" type="text"  value="{{post.content}}"/></textarea><br>
            
        </div>
        <button type="submit" class="post-btn">save post </button>
        <button type="button" id= "delete-post-btn" class="post-btn">delete post</button>
    </form>


</article>
 

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
