   <h2 class="login-signup-title"> Login</h2>
<div class="login-form-container">
<form class="login-form">
    <div>
        <label for="username">username:</label> <br>
        <input type="text" id="username-login"/>
    </div>
    <div>
        <label for="password-login">password:</label> <br>
        <input type="text" id="password-login"/>
    </div>
    <div>
        <button class="login-signup-btn" type="submit">login</button>
    </div>
</form>
</div>

<h2 class="login-signup-title"> Signup</h2>
<div class="signup-form-container">
<form class="signup-form">
    <div>
        <label for="username">username:</label> <br>
        <input type="text" id="username-signup"/>
    </div>
    <div>
        <label for="password-login">password:</label> <br>
        <input type="text" id="password-signup"/>
    </div>
    <div>
        <button class="login-signup-btn" type="submit">signup</button>
    </div>
</form>
</div>

<script src="/javascript/login.js"></script>