* {
    font-family: 'Source Serif 4', sans-serif;
}

body {
    background: linear-gradient(#a5e8fc, #c2ffbc) fixed;
    margin: 1rem;
    min-height: 100vh;
}

#title_ref {
    min-width: max-content;
    max-width: 65%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: min(6vw, 3rem);
    color: black;
    background-color: white;
    padding: .5rem;
    border-radius: 5px;
    border-style: solid;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 5px 5px black;

};

.title {
    display: flex;
    align-items: center;
    background: white;
    font-size: 1.3rem;
    padding: 0;
    border-radius: .2rem;
    font-weight: bold;

}

.container {
    max-width: 500px;
    border-style: solid;
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 10px 5px 5px black;
    transition-duration: 0.9s;
    background-color: white;
    padding: .5rem;
    margin: .5rem;
  
}

.container:hover {
    transform: scale(1.2,1.2);
}

ul {
    list-style-type: none;
}

.comments {
   color: black;
}

.new-post-container {
    display: grid;
    justify-content: center;
    width: 100%;    
}

.new-post-container-title {
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.edit-post {
    display: grid;
    justify-content: center;
}


.new-post, .edit-post-form, .login-form, .signup-form {
    display: flex;
    border-style: solid;
    align-items: center;
    background: white;
    padding: 1rem 7rem;
    flex-direction: column;
    border-radius: .5rem;
    box-shadow: 10px 5px 5px black;
    transition-duration: 0.9s;

}

.login-form, .signup-form {
    width: 30%;
}


#create-btn {
    width: 30%;
    margin: 1rem;
    border-radius: 4px;
    background-color: #a5e8fc;
}


.post-title {
    font-size: min(4.1vw, 1rem);
}

#post-title, #post-content {
    display: flex;
    align-items: center;
    border-radius: 4px;
    width: 15rem;
}

#post-content {
    height: 12rem;
   
}

.post-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem; 
    margin: 2rem;
    padding-left: 0;
}

.your-posts {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.ul-your-post {
    display: flex;
    flex-direction: column;   
}

.your-posts-title {
    text-align: center;
}

.edit-link, .view-comments {
    text-decoration: none;
    color: black;
}

.post-btn {
    margin: .5rem;
    width: 50%;
    border-radius: 4px;
    background-color: #c2ffbc;

}
.comment-btn {
    margin: .5rem;
    width: 50%;
    border-radius: 4px;
    background-color: white;

}

.edit-post-title, .edit-post-content {
    display: flex;
    align-items: center;
}

.edit-post-content {
    height: 10rem;
}

.login-signup-btn {
    display: flex;
    margin: 1rem;
    background-color: #c2ffbc;
    border-radius: 4px;
}

.login-form-container, .signup-form-container {
    display: flex;
    justify-content: center;
    margin: 4rem;
    margin-top: 0;
}


.login-signup-title {
    text-align: center;
}

.post-title {
    text-decoration: underline;
    font-size: 1.2rem;
}

.navbar {
   display: flex;
   justify-content: center;
   padding: .5rem;
}

.home-link, .logout-btn {
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
}

.login-btn {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.comment-form {
    margin-top: 25px;
    margin-bottom: 25px;
}




